body {
  font-family: Roboto, sans-serif;
}

main {
  max-width: 475px;
  margin: 0 auto;
  min-height: calc(100vh - 175.5px);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
  padding: 1rem;
}

button {
  background: var(--btn-bg);
  border: none;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  color: var(--btn-hover);
}
input[type="text"]:focus-visible,
input[type="checkbox"]:focus-visible,
button:focus-visible {
  outline: dashed 3px #ff471a;
  outline-offset: 5px;
}

.app-container {
  background: var(--background);
}
