[data-theme="light"] {
  color-scheme: light;
  --background: var(--clr-bg-light);
  --header-bg: var(--clr-grey-800);
  --header-title: var(--clr-bg-light);
  --display-bg: var(--clr-display-bg-light);
  --li-text: var(--clr-li-text-dark);
  --footer-bg: var(--clr-grey-800);
  --btn-bg: var(--clr-display-bg-light);
  --btn-hover: var(--btn-hover-dark);
  --dimmed: var(--clr-grey-600);
}
