.form {
  display: flex;
  // padding: 0 1.5rem;
  margin: 1rem;
  background: var(--display-bg);
}

.form__input {
  flex-grow: 1;
  height: 3rem;
  background: var(--display-bg);
  border: none;
  padding: 0 1rem;
  margin-right: 13px;
}

.form__btn {
  color: var(--dimmed);
  padding: 0 1rem;
}
